{% extends "layout.html" %}

{% block title %}Keskustelu{% endblock %}

{% block content %}
  <h2>Images of post: {{ item.item_name }}</h2>

  {% if images %}
  <form action="/remove_images" method="POST">
    {% for image in images %}
    <input type="checkbox" name="image_id" value="{{ image.id }}"/>
    <img src="/image/{{ image.id }}" alt="Item image"/>
    <br/>
    {% endfor %}
    <input type="hidden" name="item_id" value="{{ item.id }}"/>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Remove chosen images"/>
  </form>
  {% endif %}
  <form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
      Image: <input type="file" name="image" accept=".png" />
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}"/>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="send" value="Send" />
    <p></p>
    <input type="submit" name="return" value="back" formnovalidate/>
  </form>
{% endblock %}