<html>

<head>
  <title>Images of post: {{ item.item_name }}</title>
</head>

<body>
    <h1>Images of post: {{ item.item_name }}</h1>

    {% if images %}
    <form action="/remove_images" method="POST">
      {% for image in images %}
      <input type="checkbox" name="image_id" value="{{ image.id }}"/>
      <img src="/image/{{ image.id }}" />
      <br/>
      {% endfor %}
      <input type="hidden" name="item_id" value="{{ item.id }}"/>
      <input type="submit" value="Remove chosen images"/>
    </form>
    {% endif %}
    <form action="/add_image" method="post" enctype="multipart/form-data">
      <p>
        Image: <input type="file" name="image" accept=".png" />
      </p>
      <input type="hidden" name="item_id" value="{{ item.id }}"/>
      <input type="submit" value="Lähetä" />
    </form>
    <p>
        <a href="/item/{{ item.id }}"> Home page</a>
    </p>
</body>

</html>