{% extends "layout.html" %}

{% block title %}Keskustelu{% endblock %}

{% block content %}
  <h2>Edit item</h2>
  <form action="/update_item" method="POST">
    <p>
      <label for="item_name">Item name:</label><br/>
      <input type="text" id="item_name" name="item_name" value="{{ item.item_name }}" maxlength="50" required/>
    </p>
    <p>
      <label>Lost or found:</label><br/>
      <input type="radio" id="lost" name="status" value="Lost" {% if item.status == "Lost" %}checked{% endif %} required/>
      <label for="lost">Lost</label>
      <input type="radio" id="found" name="status" value="Found" {% if item.status == "Found" %}checked{% endif %}/>
      <label for="found">Found</label>
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}"/>
    {% for class in all_classes %}
    <p>
      <label for="{{ class }}">{{ class }}:</label><br/>
      <select id="{{ class }}" name="classes">
        <option value="">(select)</option>
        {% for option in all_classes[class] %}
          {% if item_classes[class] == option %}
            <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
          {% else %}
            <option value="{{ class }}:{{ option }}">{{ option }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </p>
    {% endfor %}
    <p>
      <label for="description">Description:</label><br/>
      <textarea id="description" name="description" rows="8" cols="60" maxlength="1000" required>{{ item.description }}</textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="save" value="Save"/>
    <input type="submit" name="return" value="Cancel" formnovalidate/>
  </form>
{% endblock %}
