<html>

<head>
  <title>Edit item</title>
</head>

<body>
    <h1>Edit item</h1>
  <form action="/update_item" method="POST">
    <p>
      Item name: <br/>
      <input type="text" name="item_name", value="{{ item.item_name }}"/>
    </p>
    <p>
      Description:<br/>
      <textarea name="description" rows="8", cols="60">{{ item.description }}</textarea>
    </p>
    <p>
      Lost or found<br/>
      <input type="radio" name="status" value="Lost" {% if item.status == "Lost" %} checked {% endif %} required/> Lost
      <input type="radio" name="status" value="Found" {% if item.status == "Found" %} checked {% endif %}/> Found
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}"/>
    <input type="submit" name="save" value="Save"/>
    <input type="submit" name="return" value="Return"/>
  </form>
</body>

</html>