<html>

<head>
  <title>Log in</title>
</head>

<body>
    <h1> Welcome to Lost and found!</h1>
  {% if session.username %}
  <p>
    You are logged in as {{ session.username }} with id: {{ session.user_id }}
  </p>
  <p>
    <a href="/new_item">New item</a> <a href="/find_item"> Find item</a>
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  <p> 
    <a href="/login"> Log in</a>
    <a href="/register"> Sign up</a>
  </p>
  <p>
    <a href="/find_item"> Find item</a>
  </p>

    {% endif %}
  <h2> Posts </h2>
  <ul>
    {%for item in items%}
    <li>
      <a href="/item/{{ item.id }}">{{ item.item_name }} ({{ item.status }})</a>
    </li>
    {% endfor %}
  </ul>
</body>

</html>