<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <h1>Lost and found</h1>
  {% if session.user_id %}
    <h4>You are logged in as: <a href="/user/{{ session.user_id }}">{{ session.username }}</a></h4>
  {% endif %}
  <p>
    <a href="/"> Posts</a> |
    {% if session.user_id %}
    <a href="/new_item">New item</a> |
    <a href="/logout">Log out</a> |
    {% else %}
    <a href="/login"> Log in</a> |
    <a href="/register"> Sign up</a> |
    {% endif %}
    <a href="/find_item"> Find item</a>
  </p>

{% block content %}{% endblock %}
</body>

</html>