{% extends "layout.html" %}

{% block title %}Keskustelu{% endblock %}

{% block content %}
  <h2>Add a new item</h2>
  <form action="/create_item" method="POST">
    <p>
      <label for="item_name">Item name:</label><br/>
      <input type="text" id="item_name" name="item_name" maxlength="50" required/>
    </p>
    <p>
      <label>Lost or found:</label><br/>
      <input type="radio" id="lost" name="status" value="Lost" checked required/>
      <label for="lost">Lost</label>
      <input type="radio" id="found" name="status" value="Found"/>
      <label for="found">Found</label>
    </p>
    {% for class in classes %}
    <p>
      <label for="{{ class }}">{{ class }}:</label><br/>
      <select id="{{ class }}" name="classes">
        <option value="">(select)</option>
        {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </p>
    {% endfor %}
    <p>
      <label for="description">Description:</label><br/>
      <textarea id="description" name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>(You can add images in the item page after uploading this post)</p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="add" value="Add item"/>
  </form>
{% endblock %}
