{% extends "layout.html" %}

{% block title %}Keskustelu{% endblock %}

{% block content %}
    <h2> Add a new item</h2>
  <form action="/create_item" method="POST">
    <p>
      Item name: <br/>
      <input type="text" name="item_name" maxlength="50" required/>
    </p>
    <p>
      Lost or found<br/>
      <input type="radio" name="status" value="Lost" checked required/> Lost
      <input type="radio" name="status" value="Found"/> Found
    </p>
    {% for class in classes %}
    <p>
      {{ class }}:<br/>
      <select name="classes">
        <option value="">(select)</option>
        {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </p>
    {% endfor %}
    <p>
      Description:<br/>
      <textarea name="description" rows="8", cols="60" maxlength="1000" required></textarea>
    </p>
    <p>(You can add images in the item page after uploading this post)</p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="add" value="Add item"/>
  </form>
{% endblock %}