<html>

<head>
  <title>Rekisteröinti</title>
</head>

<body>
  <form action="/create" method="POST">
    <p>
      Username: <br/>
      <input type="text" name="username"/>
    </p>
    <p>
      Password: <br/>
      <input type="password" name="password1"/>
    </p>
    <p>
      Repeat password: <br/>
      <input type="password" name="password2"/>
    </p>
    <input type="submit" name="signup" value="Sign up"/>
    <input type="submit" name="return" value="Return"/>
  </form>
</body>

</html>