{% extends "layout.html" %}

{% block title %}Keskustelu{% endblock %}

{% block content %}

{% if username == True %}
    <h1>Error: Username is occupied</h1>
    <a href="/register"> Back</a>
{% endif %}

{% if password == True %}
    <h1>Error: Passwords did not match</h1>
    <a href="/register"> Back</a>
{% endif %}

{% if login == True %}
    <h1>Error: Invalid username or password</h1>
    <a href="/login"> Back</a>
{% endif %}

{% if item == True %}
    <h1>Error: Item name is occupied</h1>
    <a href="/new_item"> Back</a>
{% endif %}
{% endblock %}