{% extends "layout.html" %}

{% block title %}Keskustelu{% endblock %}

{% block content %}
    <h2>{{ item.item_name }} ({{ item.status }})</h2>
    <p>
        Uploaded: {{ item.upload_time | datetimeformat }}
        {% if item.upload_time != item.edit_time %}
        <br>
        Last edited: {{ item.edit_time | datetimeformat }}
        {% endif %}
    </p>
    {% if session.user_id == item.user_id %}
    <p>
        <a href="/edit_item/{{ item.id }}">Edit</a>
        <a href="/edit_images/{{ item.id }}">Images</a>
        <a href="/remove_item/{{ item.id }}">Remove</a>
    </p>
    {% endif %}
    {% if images %}
    {% for image in images %}
    <img src="/image/{{ image.id }}" />
    {% endfor %}
    {% endif %}
    <p>
       <b>Description:</b>
    </p>
    <p>
        {{ item.description }}
    </p>
    {% if classes %}
    <p>
        When & Where:
        <ul>
            {% for class in classes %}
            <li>{{ class[0] }}: {{ class[1] }}</li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
    {% if session.user_id == item.user_id %}
        {% if all_claims %}
        <h3>Claim requests</h3>
        <ul>
            {% for claim in all_claims %}
            <li><a href="/user/{{ claim.user_id }}">{{ claim.username }}</a>: {{ claim.contact_info }}</li>
            {% endfor %}
        {% endif %}
    {% else %}
    </ul>
    {% for claim in all_claims %}
        {% if claim.user_id == session.user_id %}
        <h3>Your request:</h3>
        <li><a href="/user/{{ claim.user_id }}">{{ claim.username }}</a>: {{ claim.contact_info }}
        </li>
        <p></p>
        <form action="/remove_claim/{{ claim.id }}" method="POST">
            <input type="submit" value="Remove"/>
        </form>
        {% endif %}
    {% endfor %}
    {% if session.user_id %}
    <h3>Make a claim request</h3>
    <form action="/create_claim" method="POST">
        Contact info:
        <input type="text" name="contact_info" size="30" required maxlength="100"/>
        <input type="hidden" name="item_id" value="{{ item.id }}"/>
        <input type="submit" value="Send"/>
    </form>
    {% endif %}
    {% endif %}
    <p>
        Uploader: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
    </p>
{% endblock %}